h1,
h2,
h3,
h4,
h5,
p {
  color: white;
  padding: 0;
  margin: 0;
}

.flexCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerWidth {
  width: 300px;
}

.buttonStyle {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease-in;
}

.buttonStyle:hover {
  background-color: gray;
  transition: background-color 0.3s ease-out;
}
