.frontAndBackSwitch {
  transform: rotateY(180deg);
}

.frontAndBackCardContainer,
.frontAndBackSwitch {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  perspective: 1000px;
  will-change: transform;
}

.cardContainer,
.cardContainerTwo {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;

  height: 200px;
  width: 150px;

  background-color: white;
}

.cardContainerTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  height: 202px;

  margin: 10px;
  border-radius: 10px;

  margin-top: -123%;
  margin-left: 12px;
  will-change: transform;
  transform: rotateY(180deg);
}

.cardContainerTwo img {
  height: 100%;
  width: 150px;
  border-radius: 10px;
}

.cardContainer:hover {
  cursor: pointer;
}

.cardWrapper {
  display: inherit;
  flex-direction: column;

  width: 90%;
  height: 90%;
  background-color: orange;

  border: inherit;
  border-radius: inherit;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;

  height: 15%;
}

.cardHeader img {
  width: 23px;
  height: 23px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImgContainer {
  height: 85%;
  background-color: red;

  display: inherit;
  justify-content: center;
  align-items: center;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cardImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 85%;
  width: 95%;
  background-color: white;

  border-radius: 10px;
}

.cardImgWrapper h1 {
  color: black;
}

.cardImgWrapper img {
  height: 100%;
  max-width: 110px;
}

.loadingImage {
  height: 100px;
  width: 100px;
  margin-top: -200px;
}
