.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
  border-radius: 10px;

  max-height: 200px;
  height: 40%;
  width: 20%;
  max-width: 150px;

  background-color: white;

  margin: 10px;
}

.cardContainer:hover {
  cursor: pointer;
}

.cardWrapper {
  display: inherit;
  flex-direction: column;

  width: 90%;
  height: 90%;
  background-color: orange;

  border: inherit;
  border-radius: inherit;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;

  height: 15%;
}

.cardImgContainer {
  height: 85%;
  background-color: red;

  display: inherit;
  justify-content: center;
  align-items: center;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cardImgWrapper {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;

  height: 85%;
  width: 95%;
  background-color: white;

  border-radius: 10px;
}

.cardImgWrapper h1 {
  color: black;
}
