.frontAndBackSwitch {
  transform: rotateY(180deg);
}

.frontAndBackCardContainer,
.frontAndBackSwitch {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  perspective: 1000px;
  will-change: transform;
}

.cardContainer,
.cardContainerTwo {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  margin: 10px;

  height: 200px;
  width: 150px;

  background-color: white;

  background-size: 100% 100%;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cardContainerTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  height: 202px;

  margin: 10px;
  border-radius: 10px;

  margin-top: -123%;
  margin-left: 12px;
  will-change: transform;
  transform: rotateY(180deg);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cardContainerTwo img {
  height: 100%;
  width: 150px;
  border-radius: 10px;
}

.cardContainer:hover {
  cursor: pointer;
}

.cardWrapper {
  display: inherit;
  flex-direction: column;

  width: 90%;
  height: 90%;

  border: inherit;
  border-radius: inherit;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;

  height: 15%;
  margin-top: -8px;
}

.cardHeader img {
  width: 23px;
  height: 23px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImgContainer {
  display: inherit;
  justify-content: center;
  align-items: center;

  width: 83.5%;
  height: 81px;
  align-self: center;

  margin-top: -4px;
}

.cardImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 75px;
  width: 80px;
}

.cardImgWrapper h1 {
  color: black;
}

.cardImgWrapper img {
  height: 100%;
  max-width: 110px;
}

.loadingImage {
  height: 100px;
  width: 100px;
  margin-top: -200px;
}
