.headerContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;

  background-color: white;
}

.headerSections {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  background-color: white;
  height: 100%;

  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  margin: 0;
}

.headerSections button {
  align-self: center;
  height: 60%;
  max-height: 50px;
  width: fit-content;
  max-width: 120px;
  min-width: 80px;
  margin: 5px;

  background-color: white;
  color: black;

  border: none;
  outline: none;
}

.headerSections button:hover {
  transition: background-color 0.2s ease-out;
  background-color: gainsboro;

  cursor: pointer;
}

.headerSections h1 {
  display: flex;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.headerSections h1 div:nth-of-type(1) {
  color: rgb(255, 204, 52);
}

.headerSections h1 div:nth-of-type(2) {
  margin-left: 20px;
  color: rgb(7, 7, 255);
}
