.mainContentClass {
  height: 850px;

  display: flex;
  flex-direction: column;

  align-items: center;

  background-color: gray;

  margin-top: 10px;
}

.cardBoardContainer {
  width: fit-content;
  height: fit-content;
  min-height: 600px;
  max-width: 800px;

  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  overflow: hidden;
}

.cardBoardContainer svg {
  align-self: center;
}
