.mainContentClass {
  height: 700px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
}

.cardBoardContainer {
  height: 500px;
  width: 900px;

  display: flex;
  justify-content: center;
  align-content: center;

  flex-wrap: wrap;

  overflow: hidden;
}
