.startContainer {
  height: 100vh;
  width: 100vw;

  background-size: contain;
}

.entryContainer {
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: fit-content;

  align-self: center;
  justify-self: center;

  border: 1px solid white;
}

.giphyImage {
  width: 450px;
  height: 200px;

  order: 0;

  background-size: 100% 100%;
}

.entryMenu {
  display: flex;
  flex-direction: column;

  margin-top: 30px;

  width: 450px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menuTitle {
}

.menuTitle h1 {
  display: flex;
  flex-direction: row;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
}

.menuTitle h1 div:nth-of-type(1) {
  color: rgb(255, 204, 52);
}

.menuTitle h1 div:nth-of-type(2) {
  margin-left: 10px;
  color: rgb(7, 7, 255);
}

.MenuButtonsContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.MenuButtonsContainer button {
  height: 50px;

  width: 100%;

  font-family: "Press Start 2P", cursive;
}

.MenuButtonsContainer button:hover {
  cursor: pointer;
}

.hideMenu {
  display: none;
}
