body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flexCenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuContainer {
  height: 100vh;
  width: 100vw;
  margin-top: -120px;
}

.headerContainer {
  width: 100%;
}
